<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866539611864-trmdkfmns87dsjc8i923p8hpe5vqjoal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866539611864-trmdkfmns87dsjc8i923p8hpe5vqjoal</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>866539611864-haetfeemeujhshi0bvje4oqifnl5a76e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7ks-QqPTQ0_KRNMGVxLfw87Q4JkZnWJo</string>
	<key>GCM_SENDER_ID</key>
	<string>866539611864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cocktail.app</string>
	<key>PROJECT_ID</key>
	<string>coctel-project</string>
	<key>STORAGE_BUCKET</key>
	<string>coctel-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866539611864:ios:c4516753b40ead875159ad</string>
</dict>
</plist>